REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID: FR-1 - CANCELLED, replaced by REQ-29
Description: After the booking of a workshop the product shall generate automatically a confirmation letter.
Type: 9
Rationale: To be able to send a confirmation letter to the customer.
Originator: Daniel Steimetz - Software Engineer

REQ-ID: FR-2
Description: The product shall be able to reserve a chosen workshop.
Type: 9
Rationale: To be able to reserve a chosen workshop.
Originator: Daniel Steimetz - Software Engineer

REQ-ID: FR-3
Description: The product shall check that the payment due amount matches the agreed workshop fee amount.
Type: 9
Rationale: The accounts department need to make sure that no erroneous or fraudulent payment requests are fulfilled.
Originator: Lucy Withington - Software Engineer

REQ-ID: FR-4
Description: The product shall confirm that the payment transaction completed successfully.
Type: 9
Rationale: The accounts department need to be made aware of any failed payments to ensure that they do not default on payments or submit erroneous accounts.
Originator: Lucy Withington - Software Engineer

REQ-ID: FR-5
Description: The product shall applied the correct discount to the total workshop payment
Type: 9
Rationale: To ensure that the customer is not over charged when paying for a workshop.
Originator: Ryan Schranz - Software Engineer

REQ-ID: FR-6
Description: The product shall allow searching for a member
Type: 9
Rationale: The clerk can find the member details with varying degrees of information given.
Originator: Ryan Schranz - Software Engineer

REQ-ID: FR-7
Description: The product shall allow entry of Credit \ Debit card details
Type: 9
Rationale: Payment details may not already be on the system, required in order to take a payment.
Originator: David Vreony - Software Engineer

REQ-ID: FR-8
Description: The product shall allow confirmation of a reservation of a booking
Type: 9
Rationale: If reservation and confirmation are treated as 2 different events there is the ability to "hold"
           a workshop slot between the Customer being told there is a place available and them successfully
           completing payment. Means the slot can't accidentally be taken by someone else during the customer journey.
Originator: David Vreony - Software Engineer

REQ-ID: FR-9
Description: The product shall provide a list of all activities scheduled for a certain time.
Type: 9
Rationale: An operator preparing supply orders needs to see a list of all activities in the future so they could create a list of required supplies.
Originator: Jacek S Kutyla

REQ-ID: FR-10
Description: The product shall create supply orders based on required supplies.
Type: 9
Rationale: An operator needs to create a set of supply orders based on a list of required supplies, supplies should be grouped by the supplier.
Originator: Jacek S Kutyla

REQ-ID: FR-11 - CANCELLED, replaced by REQ-30
Description: The system will produce management reports
Type: Business requirement
Rationale: To be able to compare current performance against past and planned performance on a regular basis
Originator: Sam Bates

REQ-ID: FR-12
Description: The system should store past management reports
Type: Business Requirement
Rationale: For auditing purposes it will be important to keep copies of past reports
Originator: Sam Bates

REQ-ID: FR-13
Description: The product shall be capable of trigging bank transfers
Type: Functional
Rationale: To reduce the workload of the finance directors
Originator: Geoffrey Hayward
Comments: [GH] An expected invoice could perhaps be pre-authoried

REQ-ID: FR-14
Description: The product shall record the details and status of each of the invoices that the Centre receives
Type: Functional
Rationale: The financial information must go to the accountants at the end of the year so they can do a tax return
Originator: Geoffrey Hayward

REQ-ID: FR-15
Description: The product shall display a list of all available time slots for a specific workshop.
Type: 9
Rationale: The specific time slot cannot overide with another customer.
Originator: Peter Athnasious - Software Engineer

REQ-ID: FR-16
Description: The product shall provide a booking summary before payment is made.
Type: 9
Rationale: To check if customer details, allocated workshop time and date, payment information details are correct.
Originator: Peter Athnasious - Software Engineer

REQ-ID: FR-17
Description: The product shall identify all items that have been ordered and have not yet been received.
Type: Business requirement
Rationale: Items that arrive in a delivery must be checked against what has been ordered so that the delivery and supplier invoice can be reconciled.
Originator: Marion

REQ-ID: FR-18
Description: The product shall identify items that are urgently needed
Type: Business requirement
Rationale: Items can be ordered for specific events/workshops, if the delivery is delayed for some reason the item may be wanted for use immediately and this should be apparent to whoever receives the delivery.
Originator: Sam Woodfine

REQ-ID: FR-19 
Description: The product shall record membership details of customers. 
Rationale: Memberships are used by the centre to apply booking discounts and perks, as well as making it easier for members to make reservations. 
Originator: Adam Boothroyd 

REQ-ID: FR-20 - CANCELLED, replaced by REQ-30
Description: The product shall generate management reports when specified. 
Rationale: Staff require management reports, both on a periodical and ad-hoc basis, to facilitate business processes. 
Originator: Adam Boothroyd

REQ-ID: FR-21
Description: The product shall identify the membership details of the customer.
Type: 9
Rationale: If the customer is not an existing member, then the membership discount cannot be applied.
Originator: Thejas Kumar - Software Engineer

REQ-ID: FR-22
Description: The product shall check the availability for the workshop or class.
Type: 9
Rationale: If there are no available spaces for the workshop, then the customer should not be allowed to book.
Originator: Thejas Kumar - Software Engineer

REQ-ID: FR-23
Description: The product shall only make a reservation for the customer once their payment method accepted. Specifically, this involves the product waiting until an adequate response is received from the accounting software, before making a reservation.
Type: Functional requirement
Rationale: This prevents a customer from not paying by using fraudulent details. However, if the customer is legitimate, but unaware they have an invalid payment method, this saves the customer’s time by notifying them immediately that something is wrong. It also saves the business time by making sure activity slots are only taken by paying customers.
Originator: Tony Lin - Software Engineer
Comments: None

REQ-ID: FR-24 - CANCELLED, replaced by REQ-29
Description: The product shall send the customer a booking confirmation by email after the reservation has been made.
Type: Functional requirement
Rationale: This serves as a reminder to the customer, as well as providing useful contact details and potentially, advertisement and future offers.
Originator: Tony Lin - Software Engineer
Comments: The contents of this email is dictated by the activity organisers; fetching this contents is another requirement.

REQ-ID: FR-25
Description: The system shall provide a list of available equipment.
Type: Functional
Rationale: This allows the user of the system to make sure certain equipment is available on specific dates. This will stop a customer being promised a piece of equipment that is not available.
Originator: Daniel McAssey - Software Engineer
Comments: This is specifically for showing a list of available equipment to the customer.

REQ-ID: FR-26
Description: The system shall provide a list of bookings of equipment.
Type: Functional
Rationale: This allows a user of the system to view what equipment is currently booked, this will allow a user to determine if they need to order more of a heavily used piece of equipment.
Originator: Daniel McAssey - Software Engineer
Comments: This requirement is for the user of the system to view what is currently booked out and possibly generate reports on what is most used, however that would be a seperate requirement.

REQ-ID: FR-27
Discription: Members need to have their discounts applied when booking workshops.
Type: Business requirement
Rationale: So Members do not miss out on their benefits 
source: James Peters

REQ-ID: FR-28 - CANCELLED, replaced by REQ-32
Discription: The system should be able to give ad-hoc management reports.
Type: Business requirement
Rationale: To analyse business performance at any given time.
source: James Peters

REQ-ID: FR-29
Description: The product shall automatically provide a confirmation of the activity booking to the member.
Type: 9
Rationale: So it is easy to provide a member with a confirmation without any additional work.
Originator: Jacek S Kutyla
Comments: replaces REQ-1 and REQ-24

REQ-ID: FR-30
Description: The product shall generate management reports.
Type: 9
Rationale: So it is possible to compare current performance with both previous performance and planned performance.
Originator: Jacek S Kutyla (originally provided by Sam Bates)
Comments: replaces REQ-11

REQ-ID: FR-31
Description: The product shall provide generated management reports on periodical basis.
Type: 9
Rationale: So recently generated reports are always available for comparing current performance with both previous performance and planned performance.
Originator: Jacek S Kutyla (originally provided by Adam Boothroyd)
Comments: replaces REQ-20

REQ-ID: FR-32
Description: The product shall provide generated management reports on periodical basis.
Type: 9
Rationale: So most current reports are available for comparing current performance with both previous performance and planned performance.
Originator: Jacek S Kutyla (originally provided by James Peters)
Comments: replaces REQ-28
