REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID: FR-2
Description: The product shall be able to reserve a chosen workshop and send out a confirmation email when booked.
Type: 9
Rationale: To be able to reserve a chosen workshop.
Originator: Daniel Steimetz - Software Engineer

REQ-ID: FR-3
Description: The product shall check that the payment due amount matches the agreed workshop fee amount with the relevent discounts applied.
Type: 9
Rationale: The accounts department need to make sure that no erroneous or fraudulent payment requests are fulfilled.
Originator: Lucy Withington - Software Engineer

REQ-ID: FR-4
Description: The product shall confirm that the payment transaction completed successfully.
Type: 9
Rationale: The accounts department need to be made aware of any failed payments to ensure that they do not default on payments or submit erroneous accounts.
Originator: Lucy Withington - Software Engineer

REQ-ID: FR-6
Description: The product shall allow searching for a member
Type: 9
Rationale: The clerk can find the member details with varying degrees of information given.
Originator: Ryan Schranz - Software Engineer

REQ-ID: FR-7
Description: The product shall allow entry of Credit \ Debit card details
Type: 9
Rationale: Payment details may not already be on the system, required in order to take a payment.
Originator: David Vreony - Software Engineer

REQ-ID: FR-9
Description: The product shall provide a list of all activities scheduled for a certain time.
Type: 9
Rationale: An operator preparing supply orders needs to see a list of all activities in the future so they could create a list of required supplies.
Originator: Jacek S Kutyla

REQ-ID: FR-10
Description: The product shall create supply orders based on required supplies.
Type: 9
Rationale: An operator needs to create a set of supply orders based on a list of required supplies, supplies should be grouped by the supplier.
Originator: Jacek S Kutyla