REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID: FR-1
Description: After the booking of a workshop the product shall generate automatically a confirmation letter.
Type: 9
Rationale: To be able to send a confirmation letter to the customer.
Originator: Daniel Steimetz - Software Engineer

REQ-ID: FR-2
Description: The product shall be able to reserve a chosen workshop.
Type: 9
Rationale: To be able to reserve a chosen workshop.
Originator: Daniel Steimetz - Software Engineer

REQ-ID: FR-3
Description: The product shall check that the payment due amount matches the agreed workshop fee amount.
Type: 9
Rationale: The accounts department need to make sure that no erroneous or fraudulent payment requests are fulfilled.
Originator: Lucy Withington - Software Engineer

REQ-ID: FR-4
Description: The product shall confirm that the payment transaction completed successfully.
Type: 9
Rationale: The accounts department need to be made aware of any failed payments to ensure that they do not default on payments or submit erroneous accounts.
Originator: Lucy Withington - Software Engineer

REQ-ID: FR-5
Description: The product shall applied the correct discount to the total workshop payment
Type: 9
Rationale: To ensure that the customer is not over charged when paying for a workshop.
Originator: Ryan Schranz - Software Engineer

REQ-ID: FR-6
Description: The product shall allow searching for a member
Type: 9
Rationale: The clerk can find the member details with varying degrees of information given.
Originator: Ryan Schranz - Software Engineer

REQ-ID: FR-7
Description: The product shall allow entry of Credit \ Debit card details
Type: 9
Rationale: Payment details may not already be on the system, required in order to take a payment.
Originator: David Vreony - Software Engineer

REQ-ID: FR-8
Description: The product shall allow confirmation of a reservation of a booking
Type: 9
Rationale: If reservation and confirmation are treated as 2 different events there is the ability to "hold"
           a workshop slot between the Customer being told there is a place available and them successfully
           completing payment. Means the slot can't accidentally be taken by someone else during the customer journey. 
Originator: David Vreony - Software Engineer

REQ-ID: FR-9
Description: The product shall provide a list of all activities scheduled for a certain time.
Type: 9
Rationale: An operator preparing supply orders needs to see a list of all activities in the future so they could create a list of required supplies.
Originator: Jacek S Kutyla

REQ-ID: FR-10
Description: The product shall create supply orders based on required supplies.
Type: 9
Rationale: An operator needs to create a set of supply orders based on a list of required supplies, supplies should be grouped by the supplier.
Originator: Jacek S Kutyla

REQ-ID: FR-11
Description: The product shall identify the membership details of the customer.
Type: 9
Rationale: If the customer is not an existing member, then the system will not apply the membership discount.
Originator: Thejas Kumar - Software Engineer

REQ-ID: FR-12
Description: The product shall check the availability for the workshop or class.
Type: 9
Rationale: If there are no available spaces for the workshop, then the customer should not be allowed to book.
Originator: Thejas Kumar - Software Engineer